@using System.Web.Optimization
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>title</title>
</head>
<body>
	<div>
	</div>
	@* Putting all the scripts down here, good idea? *@
	<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
	@*<script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
	<script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.debug.js"></script>*@
	@* Let's see if we can't learn something about angular.js *@
	@*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>*@
	<script src="//d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.7.2.js"></script>
	@Styles.Render("~/Content/css")

	@RenderBody()

	@Scripts.Render("~/bundles/js/main")
	@RenderSection("scripts", false)
	<script>
		//localStorage["bar"] = "foo";
		//localStorage.removeItem("bar");
		//alert(localStorage["bar"]);
	</script>
</body>
</html>
