@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">banner, replace with images and such</h2>
<div class="game-canvas">
	<div id="kContainer"></div>
</div>
<br />

@section scripts
{

}
