body {
	xbackground-image: url(/content/images/tempBackground.png);
	background-color: #ccc;
}

.game-canvas {
	height: 560px;
	margin: 0px auto 0px auto;
	width: 760px;
	border: 1px solid #000000;
	background-color: #aaa;
}
